[user]
	name = TadahiroYamamura
	email = yamamura@example.com
[init]
	defaultBranch = main
[core]
	editor = nvim
	pager = delta
	quotepath = false
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	light = false
[diff]
	colorMoved = default
